/**
 * Css styles for jquery.tagit plugin
 * Extending bootstrap (http://twitter.github.com/bootstrap/)
 */

// REQUIRES bootstrap.less css file for compilation
// @import "bootstrap/bootstrap.less";

@import "fake-form.less";

.tagit {
    list-style: none;

    &.fake-input {
        padding: 0px 4px 0px 4px;
        height: auto;
        line-height: 26px;
    }

    li {
        display: inline-block;
    
        &.tag {
        
            margin: 3px 4px 3px 0;
            padding: 0 2px 0 2px;

            line-height: 18px;
            cursor: default;

            border: solid 1px #AAA;
            border-radius: 2px;
            background: #DDD;
            color: #333;

            .close {
                margin-left: 5px;
            }
        }
    }

    .tagit-edit-handle {
        position: relative;
        
        input {
            padding: 3px 4px 2px 0;
            background: transparent;
        }

        ul {
            position: absolute;
            left: 0; top: 20px; right: 0;
            background: @white;
            margin: 0;
            padding: 0;
            display: none;
            
            border: solid 1px #7f9db9;
            
            line-height: 20px;
            
            &.open {
                display: block;
                
                &:hover li.selected {
                    background: transparent;
                    color: inherit;
                }

                li.selected, &:hover li:hover {
                    background: #3399ff;
                    color: @white;
                }

                li {
                    display: block;
                    padding: 3px;

                    cursor: default;
                }
            }
        }
    }
}
